* {
  font-family: "VT323", monospace;
  margin: 0;
  /* padding: 0; */
}
body {
  background-color: #56aa3f;
  color: white;
  font-size: 1.5rem;
  padding: 5px 3%;
}

.welcome-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ready-button,
.number-button {
  border: none;
  font-size: 50px;
  margin: 20px 0;
  padding: 1% 2%;
  cursor: pointer;
  transition: 0.3s;
}
.ready-button:hover {
  background-color: rgb(140, 136, 136);
}
.ready-button:hover::before {
  background-color: rgb(140, 136, 136);
}
.ready-button:hover::after {
  background-color: rgb(140, 136, 136);
}
.ready-button-container {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 50px 0;
}
.ready-button::after,
.number-button::after {
  content: "";
  position: absolute;
  width: 50%;
  background-color: white;
  left: 0%;
  height: 5px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
  transition: 0.3s;
}

.ready-button::before,
.number-button::before {
  content: "";
  position: absolute;
  width: 50%;
  background-color: white;
  right: 0%;
  height: 5px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
  transition: 0.3s;
}
.welcome-container h1 {
  margin: 30px 0;
}
.enjoy {
  margin: 50px 0;
  text-align: center;
}

/* Game Section */
#start-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}
#guessed-number {
  padding: 10px 20px;
  cursor: auto;
}

.nav-buttons {
  font-size: 30px;
  cursor: pointer;
  margin: 10px 20px;
  border: none;
  padding: 2px 5px;
}

.nav-buttons:hover {
  background-color: #585d56;
}

#end-game {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#report {
  text-align: center;
}
.report-button {
  border: none;
  font-size: 50px;
  margin: 20px 0;
  padding: 1% 5%;
  transition: 0.3s;
}
#again-button {
  width: fit-content;
  margin: 60px auto;
  font-size: 30px;
  padding: 2% 5%;
  border: none;
}
#again-button:hover {
  background-color: rgb(140, 136, 136);
}

/* Media Query */
@media (max-width: 481px) {
  .ready-button-container {
    margin: 10px 0;
  }
  .enjoy {
    margin: 20px 0;
  }
  .nav-buttons {
    margin: 10px;
  }
}
